{% extends 'blogapp/base.html' %}
{% block content %}
<main class="col-md-8">
    {% for post in posts %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="#">{{post.title}}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">Web Design</a></span>

                <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">
                            {{post.publish}}</time></a></span>

                <span><a href="#">{{post.author}}</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{post.body|truncatewords:30|linebreaks}}</p>
            <div class="read-more cl-effect-14">
                <a href="{{post.get_absolute_url}}" class="more-link">Continue reading <span
                        class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
    {% endfor %}

</main>

{%endblock%}
{% block sidenav %}
{% include 'blogapp/post/sidenav.html' %}
{% endblock %}